.a4-container {
    display: flex;
    background-color: #c9dde6;
    padding: 40px;
    min-height: 100vh;
}

.a4-page {
    position: relative;
    width: 21cm;
    min-height: 29.7cm;
    background: rgba(255, 255, 255, 255);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    padding: 2cm; 
    box-sizing: border-box;
    height: auto;
}

